@layer components {
  .header-container {
    background-color: white;
    height: theme('footer.height');
    @apply content-between;
    @apply border-b border-grayScale03 p-[12px] h-[70px] w-full;
  }

  .header-container > div {
    width: 200px;
  }

  .header-container > div:last-child {
    @apply flex justify-end;
  }

  .header {
    @apply flex flex-row justify-center items-center text-xl space-x-10;
  }

  .current-route {
    color: #1890ff;
  }
}
