@layer components {
  .hero-container {
    height: 400px;
    width: 100%;
    position: relative;
    background-color: #171e26;
  }

  .hero {
    height: 400px;
    width: 100%;
    @apply content-center;
    @apply text-5xl font-bold text-white absolute;
  }

  .hero-image {
    object-fit: cover;
  }
}
