@layer components {
  .home-container {
    @apply content-center;
    @apply text-2xl text-justify;
  }

  .external-link {
    transition: transform 250ms;
  }

  .external-link:hover {
    transform: scale(1.15);
  }

  .next,
  .swr {
    color: #222222;
  }

  .graphql {
    color: #e10098;
  }

  .antd {
    color: theme('colors.primary')
  }

  .tailwind {
    color: rgb(14, 165, 233);
  }
}
