@layer components {
  .home-container {
    @apply content-center;
    @apply text-2xl text-justify;
  }

  .next,
  .swr {
    color: #222222;
  }

  .graphql {
    color: #e10098;
  }

  .tailwind {
    color: rgb(14, 165, 233);
  }
}
