@import './antd.css';
@import 'antd/dist/antd.min.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './components/_components.css';
@import './print.css';

@layer base {
  body {
    font-family: sans-serif;
    @apply bg-offWhite flex flex-col min-h-screen !important;
    @apply print-white;
  }

  .content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .content-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
